!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Brands / Fragrance
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/_alerts.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_header.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_nav.haml')).render
    
    %main#main.main{role: "main"}
      = Haml::Engine.new(File.read('views/common/_breadcrumbs.haml')).render

      %section.section{role: "region", "aria-label" => "Brands"}
        .ctn
          .p-t_3.p-b_6

            %h3.tx.__upper.__600.m-b_2 Brands

            .tabs.__small
              .grid.m-b_0
                .grid-i.__grid-1-1.m-b_0>
                  %ul.index-tabs
                    %li.index-tabs_i>
                      %a{href: "#tab1"} 1
                    %li.index-tabs_i>
                      %a{href: "#tab2"} 5
                    %li.index-tabs_i>
                      %a{href: "#tab3"} A
                    %li.index-tabs_i>
                      %a{href: "#tab4"} B
                    %li.index-tabs_i>
                      %a{href: "#tab5"} C
                    %li.index-tabs_i>
                      %a{href: "#tab6"} D
                    %li.index-tabs_i>
                      %a{href: "#tab7"} E
                    %li.index-tabs_i>
                      %a{href: "#tab8"} F
                    %li.index-tabs_i>
                      %a{href: "#tab9"} G
                    %li.index-tabs_i>
                      %a{href: "#tab10"} H
                    %li.index-tabs_i>
                      %a{href: "#tab11"} I
                    %li.index-tabs_i>
                      %a{href: "#tab12"} J
                    %li.index-tabs_i>
                      %a{href: "#tab13"} K
                    %li.index-tabs_i>
                      %a{href: "#tab14"} L
                    %li.index-tabs_i>
                      %a{href: "#tab15"} M
                    %li.index-tabs_i>
                      %a{href: "#tab16"} N
                    %li.index-tabs_i>
                      %a{href: "#tab17"} O
                    %li.index-tabs_i>
                      %a{href: "#tab18"} P
                    %li.index-tabs_i>
                      %a{href: "#tab19"} R
                    %li.index-tabs_i>
                      %a{href: "#tab20"} S
                    %li.index-tabs_i>
                      %a{href: "#tab21"} T
                    %li.index-tabs_i>
                      %a{href: "#tab22"} U
                    %li.index-tabs_i>
                      %a{href: "#tab23"} V
                    %li.index-tabs_i>
                      %a{href: "#tab24"} W
                    %li.index-tabs_i>
                      %a{href: "#tab25"} X
                    %li.index-tabs_i>
                      %a{href: "#tab26"} Y
                    %li.index-tabs_i>
                      %a{href: "#tab27"} Z
                    %li.index-tabs_i>
                      %a{href: "#tab28"} Показать все
                .grid-i.__grid-1-1.m-b_0>
                  - 1.upto(28) do |i|
                    .tabs_page{id: "tab#{i}"}
                      .list_collections
                        - 1.upto(3) do
                          .list_collections_i
                            .grid
                              .grid-i.__grid-1-15>
                                .list_collections_i_group A
                              .grid-i.__grid-14-15>
                                .grid
                                  - 1.upto(28) do |i|
                                    .grid-i.__grid-1-7>
                                      %figure.brands-i>
                                        .brands-i_photo.m-b_1
                                          %a.double-hover{href: "/brands_show.html##{i}"}
                                            %img{src: "/assets/images/fake/brand-#{rand(1..10)}.jpg", width: 74, height: 74, alt: ""}
                                        %figcaption
                                          %p 
                                            %a.a.__invert.double-hover{href: "/brands_show.html##{i}"} Brand name

    = Haml::Engine.new(File.read('views/layouts/_footer.haml')).render