= haml :"views/common/_breadcrumbs"
.ctn
  .p-t_2.p-b_6
    .grid

      .grid-i.__grid-18-24>
        %section.content{role: "region", "aria-label" => "Catalog"}
          .tabs.__content
            %ul.grid.__no-gutter
              %li.grid-i.__grid-4-18>
                %a{href: "#votes"} Votes
              %li.grid-i.__grid-4-18>
                %a{href: "#review"} Review
              %li.grid-i.__grid-4-18>
                %a{href: "#deals"} Deals
            
            #votes.tabs_page
              %section.section.__border
                .grid.__no-gutter
                  %figure.preferences-i.grid-i.__grid-1-5>
                    %p.preferences-i_t Seasonality
                    %i.ico.__52.__autumn
                    %figcaption
                      %p Autumn
                  %figure.preferences-i.grid-i.__grid-1-5>
                    %p.preferences-i_t Day Time
                    %i.ico.__52.__night
                    %figcaption
                      %p Night
                  %figure.preferences-i.grid-i.__grid-1-5>
                    %p.preferences-i_t Feelings
                    %i.ico.__52.__love
                    %figcaption
                      %p Love
                  %figure.preferences-i.grid-i.__grid-1-5>
                    %p.preferences-i_t Longevity
                    %i.ico.__52.__hours
                    %figcaption
                      %p 3-4 hours
                  %figure.preferences-i.grid-i.__grid-1-5>
                    %p.preferences-i_t Sillage
                    %i.ico.__52.__meters
                    %figcaption
                      %p 1-2 meters
              %section.section.__border
                .m-b_3
                  %h4.tx.__upper Personal preferences
                %form.form.preferences-personal
                  %label.form-el.__label
                    %span.form-el.__checkbox.__fake
                      %input.form-el.__checkbox.__real{type: "checkbox"}
                    %span 
                      %a.tx.__base{href: "#", data: {dialog: "open", url: "/data/dialogs/voting", tab: 0}} Был
                  %label.form-el.__label
                    %span.form-el.__checkbox.__fake
                      %input.form-el.__checkbox.__real{type: "checkbox"}
                    %span 
                      %a.tx.__base{href: "#", data: {dialog: "open", url: "/data/dialogs/voting", tab: 1}} Есть
                  %label.form-el.__label
                    %span.form-el.__checkbox.__fake
                      %input.form-el.__checkbox.__real{type: "checkbox"}
                    %span 
                      %a.tx.__base{href: "#", data: {dialog: "open", url: "/data/dialogs/voting", tab: 2}} Хочу
                  %label.form-el.__label
                    %span.form-el.__checkbox.__fake
                      %input.form-el.__checkbox.__real{type: "checkbox"}
                    %span 
                      %a.tx.__base{href: "#", data: {dialog: "open", url: "/data/dialogs/voting", tab: 3}} Попробую
                  %label.form-el.__label
                    %span.form-el.__checkbox.__fake
                      %input.form-el.__checkbox.__real{type: "checkbox"}
                    %span 
                      %a.tx.__base{href: "#", data: {dialog: "open", url: "/data/dialogs/voting", tab: 4}} Куплю
                  %label.form-el.__label
                    %span.form-el.__checkbox.__fake
                      %input.form-el.__checkbox.__real{type: "checkbox"}
                    %span 
                      %a.tx.__base{href: "#", data: {dialog: "open", url: "/data/dialogs/voting", tab: 5}} Продам
                  %label.form-el.__label
                    %span.form-el.__checkbox.__fake
                      %input.form-el.__checkbox.__real{type: "checkbox"}
                    %span 
                      %a.tx.__base{href: "#", data: {dialog: "open", url: "/data/dialogs/voting", tab: 6}} Обменяю
                  %label.form-el.__label
                    %span.form-el.__checkbox.__fake
                      %input.form-el.__checkbox.__real{type: "checkbox"}
                    %span 
                      %a.tx.__base{href: "#", data: {dialog: "open", url: "/data/dialogs/voting", tab: 7}} Распив
              %section.section
                .m-b_3
                  .grid
                    .grid-i.__grid-2-3.va-m>
                      %h4.tx.__upper Perfume Pyramid: <b>Top notes</b>
                    .grid-i.__grid-1-3.va-m>
                      %nav.carousel-nav.tx.__right
                        %a.carousel-nav_i.__prev{href: "#"}
                          %i.fa.fa-chevron-left
                        %a.carousel-nav_i.__next{href: "#"}
                          %i.fa.fa-chevron-right
                .carousel{data: {items: 6}}
                  - 1.upto(20) do
                    = haml :"/views/common/_flavors_item"
              %section.section
                .m-b_3
                  .grid
                    .grid-i.__grid-2-3.va-m>
                      %h4.tx.__upper Perfume Pyramid: <b>Middle notes</b>
                    .grid-i.__grid-1-3.va-m>
                      %nav.carousel-nav.tx.__right
                        %a.carousel-nav_i.__prev{href: "#"}
                          %i.fa.fa-chevron-left
                        %a.carousel-nav_i.__next{href: "#"}
                          %i.fa.fa-chevron-right
                .carousel{data: {items: 6}}
                  - 1.upto(5) do
                    = haml :"/views/common/_flavors_item"
              %section.section
                .m-b_3
                  .grid
                    .grid-i.__grid-2-3.va-m>
                      %h4.tx.__upper Perfume Pyramid: <b>Base Notes</b>
                    .grid-i.__grid-1-3.va-m>
                      %nav.carousel-nav.tx.__right
                        %a.carousel-nav_i.__prev{href: "#"}
                          %i.fa.fa-chevron-left
                        %a.carousel-nav_i.__next{href: "#"}
                          %i.fa.fa-chevron-right
                .carousel{data: {items: 6}}
                  - 1.upto(4) do
                    = haml :"/views/common/_flavors_item"
              %section.section.__border
                .m-b_3
                  .grid
                    .grid-i.__grid-2-3.va-m>
                      %h4.tx.__upper Notes <b>According to Your Votes</b>
                    .grid-i.__grid-1-3.va-m>
                      %nav.carousel-nav.tx.__right
                        %a.carousel-nav_i.__prev{href: "#"}
                          %i.fa.fa-chevron-left
                        %a.carousel-nav_i.__next{href: "#"}
                          %i.fa.fa-chevron-right
                .carousel{data: {items: 6}}
                  - 1.upto(4) do
                    = haml :"/views/common/_flavors_item"
                  %figure.flavors-i>
                    .flavors-i_photo
                      %i.ico.__26.__plus
                    %figcaption
                      %p Add Yours
              %section.section.__border
                .m-b_3
                  .grid
                    .grid-i.__grid-2-3.va-m>
                      %h4.tx.__upper.__700 This perfume reminds me
                    .grid-i.__grid-1-3.va-m>
                      %nav.carousel-nav.tx.__right
                        %a.carousel-nav_i.__prev{href: "#"}
                          %i.fa.fa-chevron-left
                        %a.carousel-nav_i.__next{href: "#"}
                          %i.fa.fa-chevron-right
                .carousel{data: {items: 5}}
                  - 1.upto(20) do
                    = haml :"/views/common/_products_item"

            #review.tabs_page
              %section.section
                .reviews-add
                  .grid
                    .grid-i.__grid-4-23.__prefix-1-23>
                      = haml :"/views/common/_avatar"
                    .grid-i.__grid-17-23>
                      %form.form
                        .m-b_1
                          %textarea.form-el.__textarea.__block{rows: 4, placeholder: "Leave your review"}
                        .grid
                          .grid-i.__grid-1-2>
                            .stars
                          .grid-i.__grid-1-2>
                            .tx.__right
                              %input.form-el.__btn.__purple.grid-i.__grid-3-5{type: "submit", value: "Send"}
              %section.section
                - 1.upto(7) do
                  = haml :"/views/common/_reviews_item"
            
            #deals.tabs_page
              %section.section.__border
                .m-b_3
                  .grid
                    .grid-i.__grid-2-3.va-m>
                      %h4.tx.__upper More from <b>Marc Jacobs</b>
                    .grid-i.__grid-1-3.va-m>
                      %nav.carousel-nav.tx.__right
                        %a.carousel-nav_i.__prev{href: "#"}
                          %i.fa.fa-chevron-left
                        %a.carousel-nav_i.__next{href: "#"}
                          %i.fa.fa-chevron-right
                .carousel{data: {items: 5}}
                  - 1.upto(20) do
                    = haml :"/views/common/_products_item"
              %section.section.__border
                .m-b_3
                  .grid
                    .grid-i.__grid-2-3.va-m>
                      %h4.tx.__upper Customers <b>Who Viewed This Item Also Viewed</b>
                    .grid-i.__grid-1-3.va-m>
                      %nav.carousel-nav.tx.__right
                        %a.carousel-nav_i.__prev{href: "#"}
                          %i.fa.fa-chevron-left
                        %a.carousel-nav_i.__next{href: "#"}
                          %i.fa.fa-chevron-right
                .carousel{data: {items: 5}}
                  - 1.upto(20) do
                    = haml :"/views/common/_products_item"
              %section.section.__border
                .m-b_3
                  .grid
                    .grid-i.__grid-2-3.va-m>
                      %h4.tx.__upper Video reviews
                    .grid-i.__grid-1-3.va-m>
                      %nav.carousel-nav.tx.__right
                        %a.carousel-nav_i.__prev{href: "#"}
                          %i.fa.fa-chevron-left
                        %a.carousel-nav_i.__next{href: "#"}
                          %i.fa.fa-chevron-right
                .carousel{data: {items: 3}}
                  - 1.upto(20) do
                    = haml :"/views/common/_products_video"

      .grid-i.__grid-6-24>
        %aside#sidebar.sidebar{role: "sidebar"}
          .p-t_2.p-b_2
            %h2.tx.__center.__upper Perfume reviews
          %hr.hr
          .p-t_2.p-b_2
            .reviews-thumbs
              - 1.upto(20) do |i|
                = haml :"/views/common/_reviews_thumbs"