!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Profile settings - Personal
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/_alerts.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_header.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_nav.haml')).render
    
    %main#main.main{role: "main"}
      = Haml::Engine.new(File.read('views/common/_profile_dashboard.haml')).render

      .ctn
        .p-t_3.p-b_6

          %section.section{role: "region", "aria-label" => "Message"}
            
            %h2.tx.__upper.m-b_2 Account Settings

            .block
              .grid.__no-gutter

                .grid-i.__grid-2-7>
                  %aside.settings-sidebar
                    %nav
                      %ul.settings-nav
                        %li.settings-nav_i
                          %a.settings-nav_i_a{href: "/profile_settings_personal.html"} Personal
                        %li.settings-nav_i
                          %a.settings-nav_i_a{href: "/profile_settings_picture.html"} Profile picture
                        %li.settings-nav_i
                          %a.settings-nav_i_a.__current{href: "/profile_settings_interests.html"} Occupation and interests
                        %li.settings-nav_i
                          %a.settings-nav_i_a{href: "/profile_settings_location.html"} Language and location
                        %li.settings-nav_i
                          %a.settings-nav_i_a{href: "/profile_settings_email.html"} Email settings
                        %li.settings-nav_i
                          %a.settings-nav_i_a{href: "/profile_settings_password.html"} Email and password
                        %li.settings-nav_i
                          %a.settings-nav_i_a{href: "/profile_settings_privacy.html"} Privacy
                        %li.settings-nav_i
                          %a.settings-nav_i_a{href: "/profile_settings_Ñonnections.html"} Connections

                .grid-i.__grid-5-7>
                  %form.form.settings-form
                    %h3.tx.__upper.__600.m-b_2 Occupation and interests
                    %div.m-b_1
                      .grid
                        .grid-i.__grid-1-4.va-m>
                          %label.form-el.__label Occupation:
                        .grid-i.__grid-3-4.va-m>
                          %input.form-el.__tx.__border.__block{type: "text"}
                    %div.m-b_3
                      .grid
                        .grid-i.__grid-1-4.va-m>
                          %label.form-el.__label Interests:
                        .grid-i.__grid-3-4.va-m>
                          %textarea.form-el.__textarea.__border.__block{rows: 10}
                    %div
                      %input.form-el.__btn.__purple.grid-i.__grid-1-4{type: "submit", value: "Save"}

    = Haml::Engine.new(File.read('views/layouts/_footer.haml')).render