!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Profile picture / Profile settings / Fragrance
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/_alerts.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_header.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_nav.haml')).render
    
    %main#main.main{role: "main"}
      = Haml::Engine.new(File.read('views/common/_profile_dashboard.haml')).render

      .ctn
        .p-t_3.p-b_6

          %h2.tx.__upper.m-b_2 Account Settings

          .grid.__no-gutter
            .grid-i.__grid-2-7>

              %aside.sidebar.__nav{data: {resize: "height"}}
                = Haml::Engine.new(File.read('views/layouts/_nav_settings.haml')).render

            .grid-i.__grid-5-7>
              %section.section.__settings{role: "region", "aria-label" => "Profile settings", data: {resize: "height"}}

                %form.form
                  %h3.tx.__upper.__600.m-b_2 Profile picture
                  %div.m-b_3
                    %a{href: "#"}
                      %img{src: "/assets/images/fake/user-photo-1.png", width: 274, height: 256, alt: ""}
                  %h3.tx.__upper.__600.m-b_2 Upload a cover photo                    
                  %div.m-b_3
                    %a{href: "#"}
                      %img{src: "/assets/images/fake/user-bg-1.png", width: "100%", alt: ""}
                  %div
                    %input.form-el.__btn.__purple.grid-i.__grid-1-4{type: "submit", value: "Save"}

    = Haml::Engine.new(File.read('views/layouts/_footer.haml')).render