%h2.tx.__upper.__center.m-b_3 Dolce & Gabbana Blue In Closet Other Participants
.tabs.__dialog
  %ul.grid.__no-gutter.m-b_3
    %li.grid-i.__grid-1-8>
      %a{href: "#tab1"} был
    %li.grid-i.__grid-1-8>
      %a{href: "#tab2"} есть
    %li.grid-i.__grid-1-8>
      %a{href: "#tab3"} хочу
    %li.grid-i.__grid-1-8>
      %a{href: "#tab4"} попробую
    %li.grid-i.__grid-1-8>
      %a{href: "#tab5"} куплю
    %li.grid-i.__grid-1-8>
      %a{href: "#tab6"} продам
    %li.grid-i.__grid-1-8>
      %a{href: "#tab7"} обменяю
    %li.grid-i.__grid-1-8>
      %a{href: "#tab8"} распив
  #tab1
    .grid
      - 1.upto(24) do
        .grid-i.__grid-1-6>
          .tx.__center
            %figure
              .m-b_1
                = haml :"/views/common/_avatar"
              %figcaption.tx.__s
                %a.a.__base{href: "#"} Mongan Fox
  #tab2
    .grid
      - 1.upto(24) do
        .grid-i.__grid-1-6>
          .tx.__center
            %figure
              .m-b_1
                = haml :"/views/common/_avatar"
              %figcaption.tx.__s
                %a.a.__base{href: "#"} Mongan Fox
  #tab3
    .grid
      - 1.upto(24) do
        .grid-i.__grid-1-6>
          .tx.__center
            %figure
              .m-b_1
                = haml :"/views/common/_avatar"
              %figcaption.tx.__s
                %a.a.__base{href: "#"} Mongan Fox
  #tab4
    .grid
      - 1.upto(24) do
        .grid-i.__grid-1-6>
          .tx.__center
            %figure
              .m-b_1
                = haml :"/views/common/_avatar"
              %figcaption.tx.__s
                %a.a.__base{href: "#"} Mongan Fox
  #tab5
    .grid
      - 1.upto(24) do
        .grid-i.__grid-1-6>
          .tx.__center
            %figure
              .m-b_1
                = haml :"/views/common/_avatar"
              %figcaption.tx.__s
                %a.a.__base{href: "#"} Mongan Fox
  #tab6
    .grid
      - 1.upto(24) do
        .grid-i.__grid-1-6>
          .tx.__center
            %figure
              .m-b_1
                = haml :"/views/common/_avatar"
              %figcaption.tx.__s
                %a.a.__base{href: "#"} Mongan Fox
  #tab7
    .grid
      - 1.upto(24) do
        .grid-i.__grid-1-6>
          .tx.__center
            %figure
              .m-b_1
                = haml :"/views/common/_avatar"
              %figcaption.tx.__s
                %a.a.__base{href: "#"} Mongan Fox
  #tab8
    .grid
      - 1.upto(24) do
        .grid-i.__grid-1-6>
          .tx.__center
            %figure
              .m-b_1
                = haml :"/views/common/_avatar"
              %figcaption.tx.__s
                %a.a.__base{href: "#"} Mongan Fox